#beginLightCommonToolV3("tool.contenttool.linkDialog.internalPageTabLabel" "" "" false false $!disableCloseButton)

	<script type="text/javascript">
	<!--
		$(document).ready(function(){
			$("#tabsContainer").tabs({ show:function() { /*resizeInlineTabDivs();*/} });
			//setTimeout("resizeInlineTabDivs()", 500);
						
			init();
		});

		var navigationTitleHash = new Array();
		
		#set($sortArg = "")
		#if($languageId && $languageId != -1)
			#set($sortArg = "&sortLanguageId=$!{languageId}")
		#end

		var exp;
		function notifyExp(v)
		{
			exp=v;
		}

		function notifyIsLoaded()
		{
			treeIsLoaded = true;
		}
		
		function changeRepository(selectBox, iframeName)
		{
			var repositoryId = selectBox.value;

			if(iframeName == "itreeFrame")
				document.getElementById("itreeFrame").src = "ViewStructureToolMenuHtml!bindingViewV3.action?repositoryId=" + repositoryId + "$sortArg";
			else
				document.getElementById("itreeFrameContent").src = "ViewContentHtmlTree.action?repositoryId=" + repositoryId + "&bodyClass=generaltooledit" + "$sortArg";
				
			updateContentList(repositoryId, 0);
		}
		
		function updateContentList(entityId, repositoryId)
		{
			var eid = parseInt(entityId);
			var rid = parseInt(repositoryId);
			
			if(!isNaN(eid) && !isNaN(rid))
			{
				document.getElementById("listFrameBoundContent").src = "ViewContentToolBoundList.action?repositoryId=" + rid + "&siteNodeId=" + eid;
			}
		}

		var previousPath = "";
		var previousContentPath = "";
		function htmlTreeItemClick(entityId, repositoryId, path)
		{
			if(parent.contentMarked)
				parent.contentMarked(entityId, path);
		
			document.inputForm.contentId.value = entityId;
			var shortPath = "";
			if(path != "")
				shortPath = previousPath.substring(0, 12) + "... + " + path.substring(0, 8) + "...";
			else
				shortPath = previousPath.substring(0, 20) + "...";
				
			$("#selectedPagePath").text("$ui.getString("tool.contenttool.linkDialog.insertPage") \"" + shortPath + "\"");
		
			previousContentPath = path;
			
		}

		function structureTreeItemClick(entityId, repositoryId, path)
		{
			if(parent.pageMarked)
				parent.pageMarked(entityId, path);
				
			if(path && path != "undefined")
			{
				var shortPath = "";
				if(previousContentPath != "")
					shortPath = path.substring(0, 12) + "... + " + previousContentPath.substring(0, 8) + "...";
				else
					shortPath = path.substring(0, 20) + "...";

				$("#selectedPagePath").text("$ui.getString("tool.contenttool.linkDialog.insertPage") \"" + shortPath + "\"");
				previousPath = path;
			}
			updateContentList(entityId, repositoryId);
		}
		
		function anchorListItemClick(anchorId)
		{
			if(parent.anchorMarked)
			{
				parent.anchorMarked(anchorId);
			}
		}
				
		function init() 
		{
            #if($oldSiteNodeId)
            document.getElementById("entityId").value = "$oldSiteNodeId";
		  	#else
		  	document.getElementById("entityId").value = "-1";
		  	#end
		  	
		  	#if($oldAnchorId)
            document.getElementById("anchorId").value = "anchor-$oldAnchorId";
            toggleContentDiv();
            #set($oldAnchorId = "anchor-$oldAnchorId")
		  	#else
		  	document.getElementById("anchorId").value = "";
		  	#set($oldAnchorId = "")
		  	#end

            #if($oldContentId)
            document.getElementById("contentId").value = "$oldContentId";
		  	#else
		  	document.getElementById("contentId").value = "-1";
		  	#end
		}

		function toggleContentDiv()
		{
			var cDiv = jQuery("div#content");
			if(cDiv.css("display") == "none") {
				cDiv.show();
			}
			else {
				cDiv.hide();
				jQuery("#listFrameBoundContent").contents().find("li.content-item").removeClass("selected-content");
				document.inputForm.anchorId.value = "";
				anchorListItemClick("");
			}
		}
		
		function onOk() 
		{
		  	siteNodeId = document.inputForm.entityId.value;
		  	contentId = document.inputForm.contentId.value;
		  	anchorId = document.inputForm.anchorId.value;
			path = document.inputForm.path.value;

			if(siteNodeId != "" && siteNodeId.indexOf("select") == -1)
				parent.onOkForInlineLink(siteNodeId, contentId, anchorId);
			else
				alert("$ui.getString("tool.contenttool.linkDialog.pageMandatoryWarning")");
			
			return false;
		};
		
		function onCancel() 
		{
		    parent.onCancel(null);
			return false;
		}
		
		$(document).ready(function() {
		(function() {
			var articleToggleButtons = $(".articleAdd-button"),
				overlayAdd = $("#contentOverlay-add"),
				overlayChoose = $("#contentOverlay-choose"),
				tabsContainer = $("#tabsContainer");
				
			articleToggleButtons.on("click", function() {
				var self = $(this);
				overlayAdd.removeClass("active");
				overlayChoose.addClass("active");
				
				tabsContainer.tabs("option", "active", self.data("tabIndex"));
			});
		}())
		});
	-->
	</script>
	
	<link rel="stylesheet" type="text/css" href="css/assets.css" />
	<style type="text/css">
		html, body { height: 100%; }
	
		.linkContainer {
			display: block;
			height: 100%;
		}
		
		.optionalContent {
			background:url(css/images/v3/optionalLinkContent.gif) no-repeat center;
			background-position: 0px 0px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			min-height:20px;
			display:block;
			padding-left: 30px;
			line-height: 20px;
			margin: 10px 0;
		}
		
		.optionalContent > p {
			margin: 0;
		}

		.bindingDialogSeperator {
			background-color: #f6f6f6;
		}
		
		.bindingViewContainer {
			height: 100%;
		}
		
		.linkDialog-dialog {
			position: absolute;
			top: 0;
			height: 100%;
			height: 100vh;
			width: 49vw;
			display: flex;
			flex-direction: column;
		}

		.linkDialog-dialog.structure {
			left: 0;
		}

		.linkDialog-dialog.structure:after {
			content: "";
			display: block;
			width: 2vw;
			height: 100%;
			background-color: #f6f6f6;
			position: absolute;
			right: -2vw;
			top: 0;
		}

		.linkDialog-dialog.content {
			right: 0;
		}

		linkDialog-contentPicker {
			width: 100%;
			height: 100%;
		}

		.linkDialogArticleIntro {
			margin: 10px;
		}

		.optionalContentText {
			display: none;
		}
		
		.optionalContentText.active {
			display: inline;
			display: initial;
		}

		.linkDialog-contentOverlay {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			background-color: white;
		}

		.linkDialog-contentOverlay.active {
			display: block;
		}
		
		.contentOverlay-add > .inner {
			width: 70%;
			min-width: 200px;
			margin: 0 auto;
			
		}
		
		.articleAdd-button {
			background: none;
			border: none;
			display: block;
		}

	</style>
</head>

<body class="generaltooledit">

<form name="inputForm" action="CreateServiceBinding.action">
	<input type="hidden" id="entityId" name="entityId" value="$!oldSiteNodeId">
	<input type="hidden" id="contentId" name="contentId" value="">
	<input type="hidden" id="repositoryId" name="repositoryId" value="$!repositoryId">
	<input type="hidden" id="path" name="path" value="">
	<input type="hidden" id="anchorId" name="anchorId" value="">
</form>

<div id="linkDiv" class="linkContainer">
	<div id="structure" style="display: block;" class="structure linkDialog-dialog">
		<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="2">
				<select size="1" name="repositoryId" class="sitedropbox" onChange="javascript:changeRepository(this, 'itreeFrame');" class="contenttool">
					<option value="">$ui.getString("tool.contenttool.chooseRepositoryLabel")</option>
					#foreach ($repositoryVO in $repositories)
					<option value="$repositoryVO.getRepositoryId()"#if(${repositoryId} == $repositoryVO.getRepositoryId()) selected#end>$repositoryVO.getName()</option>
					#end
				</select>
			</td>
		</tr>
		<tr>
			<td height="1" colspan="2"><img src="css/images/trans.gif" width="1" height="5"></td>
		</tr>
		<tr>
			<td class="menu" colspan="2">
				#set($exp = $this.getExpansion($oldSiteNodeId))
				<iframe frameborder="0" name="itreeFrame" id="itreeFrame" src="ViewStructureToolMenuHtml!bindingViewV3.action?repositoryId=${repositoryId}$sortArg&exp=$exp&akey=/$!oldSiteNodeId/&select=$!oldSiteNodeId" width="310" height="385" ></iframe>
			</td>
		</tr>
		</table>
	</div>

	#if( $hasContentView )
	<div class="contentViewContainer">
		<div class="linkDialog-contentOverlay contentOverlay-add #if( !$hasArticleContentSelected ) active #end" id="contentOverlay-add">
			<div class="inner">
				<p>
					$ui.getString("tool.contenttool.linkDialog.article.addText")
					#if( $hasArticleLinkInLinkDialog )
					<button class="articleAdd-button" data-tab-index="0">$ui.getString("tool.contenttool.linkDialog.article.addContent")</button>
					#end
					#if( $hasHTMLHashInLinkDialog )
					<button class="articleAdd-button" data-tab-index="1">$ui.getString("tool.contenttool.linkDialog.article.addHash")</button>
					#end
				</p>
			</div>
		</div>
		<div class="linkDialog-contentOverlay #if( $hasArticleContentSelected ) active #end" id="contentOverlay-choose">
			<div id="tabsContainer" class="flora content linkDialog-dialog">
				
				<p class="linkDialogArticleIntro">
					$ui.getString("tool.contenttool.linkDialog.linkDialogArticleIntro")
				</p>
				<ul>
					#if( $hasArticleLinkInLinkDialog ) <li><a href="#internalContentLinkTab"><span>$ui.getString("tool.contenttool.linkDialog.bindArticleLink")</span></a></li> #end
					#if( $hasHTMLHashInLinkDialog ) <li><a href="#internalHashTab"><span>$ui.getString("tool.contenttool.linkDialog.bindArticleHash")</span></a></li> #end
				</ul>
		
				#if( $hasArticleLinkInLinkDialog )
				<div id="internalContentLinkTab" class="inlineTabDiv">
					<a href="javascript:toggleContentDiv();" class="optionalContent" title="$ui.getString('tool.contenttool.linkDialog.optionalContentHeader')">
						#if( "$!oldContentId" == "" )
							#set( $addContentClasses = "active" )
							#set( $clearContentClasses = "" )
						#else
							#set( $addContentClasses = "" )
							#set( $clearContentClasses = "active" )
						#end
						<p class="optionalContentText addContent $!addContentClasses">$ui.getString('tool.contenttool.linkDialog.optionalContentHeader')</p>
						<p class="optionalContentText clearContent $!clearContentClasses">$ui.getString('tool.contenttool.linkDialog.optionalContentHeader')</p>
					</a>
					<iframe frameborder="0" marginwidth="0" marginheight="0" ascrolling="no" name="internalArticleLinkFrame" id="internalLinkFrame" src="ViewContentHtmlTree.action?repositoryId=$!repositoryId&exp=$exp&akey=/$!oldContentId/&select=$!oldContentId&bodyClass=generaltooledit" class="linkDialog-contentPicker" ></iframe>
				</div>
				#end
		
				#if( $hasHTMLHashInLinkDialog )
				<div id="internalHashTab" class="inlineTabDiv">
					<a href="javascript:toggleContentDiv();" class="optionalContent" title="$ui.getString('tool.contenttool.linkDialog.optionalContentHeader')"><p>$ui.getString('tool.contenttool.linkDialog.optionalContentHeader')</p></a>
					<div id="content" style="display: none;">
						<iframe frameborder="0" name="listFrameBoundContent" id="listFrameBoundContent" src="ViewContentToolBoundList.action?repositoryId=$!repositoryId&siteNodeId=$!oldSiteNodeId&anchorId=$!oldAnchorId"></iframe>
						##  ---- IG-3618 deleted code ----
					</div>
					<iframe frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="internalArticleHashFrame" id="internalAssetFrame" src="" class="linkDialog-contentPicker"></iframe>
				</div>
				#end
			</div>
		</div>
	</div>
	#end
</div>

#*
<div onfocus="this.blur();" id="footertoolbar">
	<div style="float: left; margin-left: 10px;">
		<input type="button" class="linkInsert" value="$ui.getString("tool.contenttool.linkDialog.choosePageToLinkToHeader")" onclick="onOk();"/>
		<input type="button" class="cancel" value="$ui.getString("tool.common.cancelButton.label")" onclick="onCancel();"/>
	</div>
</div>
*#

</body>
</html>
